{
  "singleQuote": false,
  "printWidth": 100,
  "plugins": [
    "prettier-plugin-jsdoc",
    "prettier-plugin-svelte"
  ],
  "pluginSearchDirs": [
    "."
  ],
  "overrides": [
    {
      "files": "*.svelte",
      "options": {
        "parser": "svelte"
      }
    }
  ]
}
